
.commentBox{
	padding:3px;
	background:#ECEFF5;
	margin-left:70px;
	margin-top:2px;
	}
.commentPanel	{
	padding:3px;
	background:#ECEFF5;
	margin-left:70px;
	margin-top:2px;
}
.postedComments label{
	font-family: Arial, sans-serif;
	font-size: 11px;
}

a.c_delete{color:#3B5998;
	font-size:11px;}

.friends_area{
	vertical-align:top;
    min-height:60px;
	padding-bottom:12px;
	padding-top:10px;
    border-bottom: #e6e6e6 solid 1px;
}
.friends_area label{
   	cursor: text;
   }
.top_area{
	background:#627AAD;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	padding:6px 6px 6px 12px;
}
.friends_area img{
	padding-right: 7px;
}
.name b{
	font-size:14px;
	color:#3B5998;
	cursor:pointer;
	}
.name{
	font-size:14px;
	color:#333;
	text-align:left;
	}
a.delete{
 	color:#333333;
	cursor:pointer;
	font-size:11px;
}
.name a{
	color:#3B5998;
	font-size:11px;
	margin:3px 3px 3px 6px;
}
.name em{
	color:#333;
	font-style:normal;
	font-size:12px;
	text-align: left;
	line-height: 1.2;
}
.name span{
	color:#777777;
	font-size:11px;
}
