
body{
	background-color: #e6e6e6;
}
ul{
	margin: 0;padding: 0;
}
.container{
	margin-bottom: 15px;
}
/* MAIN NAVIGATION */
#mainnav .main {
	border-top: 1px solid #E6E6E6;
	z-index: 999;
	background: #333333;
}

#menunav {
	float: left;
	overflow: hidden;
	margin-left: 1px;
}
ul#top{
	float: right;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	/*background: #00A9DD;*/
	border-radius:0 10px 0 10px;
}
ul#top li{
	float: left;
	line-height: 25px;
	padding: 0 6px;
	width: 70px;
	border-radius: 4px;
	text-align: center;
	background: #f0f0f0;
	border: 1px solid #e2e2e2;
	margin: 0 3px;
}
ul#top li:hover{
	background: #00A9DD;
	border: 1px solid #e2e2e2;
}
ul#top li a{
	color: #00A9DD;
}
ul#top li a:hover,ul#top li:hover a{
	color: #ffffff;
}

ul#top li#account{
	width: auto;
}
ul#top li#account a{
	float: left;
}

ul#top li#logout{

	padding-left: 20px;
	background: url(../img/bg-logout.png) 3px 3px no-repeat;
	width: 40px;
	float: right;
	display: block;
}

ul#top li#logout a{
	line-height: 25px;
	width: 15px;
	height: 25px;
	color: #FF0000;
}
ul#top li#logout a:hover,ul#top li#logout:hover a{
	color: #FFFFFF;
}
ul#top li#logout:hover{
	background-color: #00A9DD;
	background-position:3px -21px;
	cursor: pointer;

}
/*main menu*/

ul.topmenu {
	background: #FFFFFF;
    position: relative;
	margin: 0;
	padding: 0;
}
ul.topmenu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0 2%;
}
ul.topmenu li:hover{
	background: #0088cc;
}
ul.topmenu li a {
	display: block;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
}
.hidden-menu{
	line-height: 30px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.hidden-menu a:hover{
	color:#0088cc;
}
.hidden-menu a{
	color: #FFFFFF;
	text-decoration: none;

}
.hidden-menu span{
	display: block;
	width: 20px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	height: 20px;
	background: transparent url(../img/btn_show_side_menu.png) center center no-repeat;
}
.hidden-menu span:hover{
	background: transparent url(../img/btn_show_side_menu_hover.png) center center no-repeat;
}
.boxheader .box-ct ul.menu{
	margin: 0;
	padding: 0;
}
#left ul.thongke li{
	padding-left: 10px;
	height: 22px;
	line-height: 22px;
}
/*END NAV*/


/*LEFT CONTENT*/
#left{
	background: #FFF;
	z-index: 9999;
}

.boxheader .box-ct .menu li.active{
	font-weight: bold;
}
.boxheader .box-ct .menu li a{
	display: block;
	outline: none;
	padding: 6px 0 9px;
	margin: 0;
	text-indent: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #666666;
	border-top: 1px solid #E6E6E6;
}
.boxheader .box-ct .menu li:first-child a{
	border: 0;
}
ul.menu li a:hover, ul.menu li a:active, ul.menu li a:focus {
	background: #F7F7F7;
	text-decoration: none;
	color: #336699;
}
.boxheader .box-ct .menu li a:hover{
	color: #00A9DD;
}
/*END LEFT CONTENT*/


/*MAIN CONTENT*/
#container{
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;

}
#container .main {
	margin-top: 5px;
	background-color: #FFF;
}

/*END MAIN CONTENT*/

/* PRIMARY COLUMN
--------------------------------------------------------- */
#content {
	border-bottom: 1px solid #E6E6E6;
}
#current-content .content-main {
	padding: 15px;
}



/* MODULE
--------------------------------------------------------- */
.boxheader,
.boxheader_menu{
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
}
.boxheader {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.boxheader h3{
	font-size: 100%;
	margin: 0;
	padding: 8px 15px;
	border-bottom: 1px solid #E6E6E6;
	text-transform: uppercase;
	color: #666666;
	background: url(../img/dot-hilite.gif) repeat-y left top #F7F7F7;
}
.boxheader-menu h3 {
	background: #00A9DD;
	color: #FFFFFF;
}
.boxheader-main h3 {
	background: #F7F7F7;
}

.boxheader h3 span,
.boxheader_menu h3 span,
.boxheader_text h3 span,
.boxheader_hilite h3 span {
	color: #00A9DD;
}

.boxheader ul {
	list-style: none;
}

/*CONTENT
--------------------------------------------------------- */
.thumbnails li{

	float: left;

}
.article{
	margin: 5px 0;
}
.article img.left{
	margin-right: 10px;
}
.item{
	text-align:  left;

}
div.item{
	padding: 3px 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clearfix{
	clear: both;
}
.ulitem{
	margin-top: 5px;
}
.ulitem li{
	float: left;
}
.ulitem hr:last-child{
	display: none;
}
.ulitem .article a{
	margin-right: 10px;
}
.rates img {
margin: 0 !important;
float: left;
padding-right: 1px;
}
.paginate{
	display: block;
	padding: 5px 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;

}

.paginate .number_page{
	padding: 3px 10px;
	background-color: #f6f6f6;
	border: 1px solid #e4e4e4;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	margin: 0 2px;
	font-size: 12px;
}
.paginate .current{
	font-weight: bold;
}
.errormesage{
	color: #FF0000;
}
.detail{
	padding-right: 20px;
}
.img-head{
	margin-right: 10px;
}
.innerdiv{
	padding-bottom: 3px;
	border-bottom:  1px dotted #e6e6e6;
}
.innerdiv h6{
	margin:5px 0 10px 0;
}
#map-canvas{
	height: 400px;
}
.contentblock{
	float: left;
	display: block;
}
.rateblock{
	border: 1px solid #ccc;
	background: #e6e6e6;
	text-align: center;
	float: right;
}
.rateitem{

}
.rateitem li{
	display: block;
	clear: both;
	height: 18px;
	margin: 5px 0;
	line-height: 18px;
	background: url(../img/star_mark.png) center left no-repeat;
	padding-left: 16px;
	float: left;
}
.rateitem li .r_number{
	height: 18px;
	vertical-align: top;

}

.rateitem #bar1{
	background: #FF8B5A;
}
.rateitem #bar2{
	background: #FFB234;
}
.rateitem #bar3{
	background: #FFD834;
}
.rateitem #bar4{
	background: #ADD633;
}
.rateitem #bar5{
	background: #90B24D;
}
.rateitem img{
	vertical-align: top;
}
.total_rate{
	float: left;
	width: 30px;
	text-align: center;
}
.total_rate span{
	color: #333;
	font-size: 64px;
	font-weight: 100;
	line-height: 64px;
	font-family: "Roboto",Arial,sans-serif;

}
.star-icon img{
	padding: 0 3px;
	vertical-align: top;
}
.total-person{
	text-align: center;
	font-weight: bold;
}
.total-person .icon-total{
	vertical-align: top;
	padding-right: 3px;
	background: url(../img/icon-total-rate.png) left center no-repeat;
}
.percent_rate{
	height: 18px;
	width: 100px;
	padding-left: 5px;
	display: inline-block;
	margin-left: 5px;
}

.btn_review{
	background: #0088CC;
	border: 0;
	color: #FFF;
	margin: 3px;
	padding: 5px 10px;
	border-radius: 2px;
	cursor: pointer;
}
#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
#write_review {
	padding-bottom: 2px;
	display:none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);

}

#write_review-header {
	background: url(../img/hd-bg.png);
	padding: 18px 18px 14px 18px;
	border-bottom: 1px solid #CCC;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

#write_review-header  h2 {
	color: #444;
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 3px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
#write_review .txt-fld {
	position: relative;
	width: 364px;
	padding: 14px 20px;
	border-bottom: 1px solid #EEE;
	text-align: right;
}
#write_review .btn-fld {
	width: 254px;
	overflow: hidden;
	padding: 12px 20px 12px 130px;
}

#write_review .txt-fld label {
	display: block;
	float: left;
	width: 90px;
	padding-top: 8px;
	color: #222;
	font-size: 1.3em;
	text-align: left;
}
#write_review .txt-fld input,#write_review .txt-fld textarea {
	width: 244px;
	padding: 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 1.2em;
	color: #222;
	background: #F7F7F7;
	font-family: "Helvetica Neue";
	outline: none;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #E7E6E6;
	border-bottom: 1px solid #E7E6E6;
}
#write_review .txt-fld input.good_input {
	background: #DEF5E1 url(../img/good.png) 236px center no-repeat;
}
#write_review button {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A;
	border: none;
	width: auto;
	overflow: visible;
	font-size: 1.4em;
	color: #FFF;
	padding: 7px 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}
.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(../img/modal_close.png); z-index: 2;
}
#login-form{
	text-align: left;
	width: 100%;
	margin: 0 auto;
}
#refreshimg{
	cursor: pointer;
}
/* HEADER
--------------------------------------------------------- */
#header {
	height: 100px;
	background: #fff url(../img/main-tl.gif) no-repeat top left;
	position: relative;
}
#header .inner {
	height: 100px;
	line-height: normal;
	position: relative;
	background: url(../img/main-tr.gif) no-repeat top right;
}
h1#logo, h1#logo-text {
	margin: 0;
	padding: 0;
	font-size: 200%;
}

h1#logo a {
	width: 200px;
	display: block;
	/*background: url(../img/logo.png) no-repeat;*/
	position: absolute;
	height: 78px;
	top: 10px;
	left: 10px;
}

h1#logo a:hover, h1#logo a:active, h1#logo a:focus {
}

h1#logo a span {
	position: absolute;
	top: -1000px;
}

h1#logo-text a {
	text-decoration: none;
	outline: none;
	position: absolute;
	top: 25px;
	left: 20px;
	text-transform: uppercase;
}

h1#logo-text a:hover,#logo-text a:active,#logo-text a:focus {
}

p.site-slogan {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 55px;
	left: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}



/* FOOTER
--------------------------------------------------------- */
#footer {
	position: relative;
	background: #333 url(../img/dot-dark.gif) repeat-y 20% top;
}

#footer .box-bl {
	position: relative;
	clear: both;
	background: url(../img/main-br.gif) no-repeat bottom right;
	width: 100%;
}

#footer .box-br {
	background: url(../img/main-bl.gif) no-repeat bottom left;
	color: #666666;
	text-transform: uppercase;
	font-size: 92%;
	width: 100%;
}

#footer small {
	color: #666666;
	font-size: 100%;
	padding: 10px 10px 10px 20px;
}

#footer ul {
	margin: 0;
	padding: 0 10px 5px 10px;
	line-height: normal;
}

#footer li {
	display: inline;
	margin: 0;
	padding: 0;
	background: url(../img/vline.gif) no-repeat center left;
}

#footer li a {
	display: inline;
	line-height: normal;
	padding: 0 10px;
}

li.firstitem {
	background: none !important;
}

#footer a {
	color: #999999;
	text-decoration: none;
}

#footer a:hover, #footer a:active, #footer a:focus {
	color: #FFFFFF;
}

.sublogo {
	width: 20%;
	float: left;
}
.sublogo a {
	font-size: 200%;
	display: block;
	text-align: center;
	background: url(../img/logo-sub.gif) no-repeat right top;
	width: 150px;
	height: 70px;
	text-indent: -5000px;
	position: absolute;
	left: 10px;
}


.copyright {
	width: 80%;
	padding: 20px 0;
	float: right;
}

.foot-rss {
	position: absolute;
	top: 30px;
	right: 20px;
}

.foot-rss img {
	vertical-align: middle;
}

/* T3 Framework logo ---*/
#poweredby {
	height: 20px;
	position: absolute;
	left: 10px;
	top: 25px;
	width: 160px;
}

#poweredby a#t3-logo {
	background: url(../img/t3-logo.png) no-repeat left top;
	display: block;
	height: 20px;
	text-indent: -9999%;
	width: 180px;
	text-decoration: none;
}

#poweredby a#t3-logo:hover,
#poweredby a#t3-logo:focus,
#poweredby a#t3-logo:active {
	background-position: left bottom;
}
#debug{
	display: block;
	clear: both;

}
#debug pre{
	font-size: 14px !important;
}
.entry{
	font-weight:  bold;
	text-align: center;
}
